.RepoCard {
  height: 225px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 4px 10px #00000017;
  transition: all ease 100ms;

  width: calc((100% - 2 * 40px) / 3);
  margin-bottom: 40px;

  &:not(:nth-child(3n)) {
    margin-right: 40px;
  }

  &:hover {
    box-shadow: 0 8px 12px #00000017;
    transform: translateY(-4px);
  }

  &__Name {
    font-size: 24px;
    margin-bottom: 5px;
  }

  &__Description {
    flex: 1;
    min-height: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__Indicators {
    display: flex;
    margin-top: 4px;

    > div {
      margin-right: 20px;

      i {
        color: #4c4c4c;
      }
    }
  }
}
