.Dropdown {
  background: white;
  width: 150px;
  display: flex;

  select {
    flex: 1;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    padding: 10px 14px;
    font-size: 14px;
    cursor: pointer;
    max-width: 100%;
  }
}
