.Dropdown {
  background: white;
  width: 150px;
  display: flex;
  position: relative;

  > i {
    position: absolute;
    right: 12px;
    top: 10px;
  }

  > select {
    flex: 1;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    outline: none;
    background: transparent;
    padding: 10px 14px;
    font-size: 14px;
    max-width: 100%;
    cursor: pointer;
  }
}
