.Button {
  min-width: 100px;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  outline: 0;
  cursor: pointer;

  &--primary {
    background: #298fee;
    color: white;

    &:hover {
      background: #2384de;
    }
  }

  &--default {
    background: #ecf2f5;

    &:hover {
      background: #e1e9ec;
    }
  }
}
