@import 'FilterEditModal.dark.scss';

.FilterEditModal {
  &__TitleInput {
    font-size: 20px;
    background: none;
    border: 0;
    outline: 0;
    color: #494b4e;
    width: 100%;
    padding-right: 20px;

    &:hover {
      color: black;
    }
  }

  &__Predicates {
    min-height: 150px;
    margin-bottom: 20px;
    padding: 20px;
  }

  &__AddPredicateButton {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    background: none;
    font-size: 14px;
    cursor: pointer;
  }
}
