.Dashboard {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding-top: 57px;

  &__Filters {
    width: 200px;
    display: flex;
    flex-direction: column;

    &-Actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 20px;
      margin-top: 40px;

      > div {
        margin-bottom: 12px;
        color: #87898c;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: #2a2b2d;
        }

        > i {
          width: 20px;
          margin-left: 5px;
          opacity: 0.85;
        }
      }
    }
  }

  &__Results {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 4px 10px #00000017;
    margin-bottom: 40px;

    &-NoResults {
      flex: 1;
      color: #cecfd4;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

      > i {
        margin-right: 10px;
      }
    }
  }
}
