.Dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: 57px;

  &__Filters {
    width: 200px;
    display: flex;
    flex-direction: column;

    &-Actions {
      display: flex;
      flex-direction: column;
      text-align: right;
      padding-right: 20px;
      margin-top: 40px;

      &-Edit,
      &-Delete {
        margin-bottom: 12px;
        color: #87898c;
        cursor: pointer;

        &:hover {
          color: #2a2b2d;
        }
      }
    }
  }

  &__Results {
    flex: 1;
    background: white;
    box-shadow: 0 4px 10px #00000017;
    margin-bottom: 40px;
  }
}
