.dark {
  .Dashboard {
    &__Filters-Actions > div {
      color: #c1c3c5;

      &:hover {
        color: #f1f2f3;
      }
    }

    &__Results {
      background-color: #3e3e3e;

      &-NoResults {
        color: #656565;
      }
    }
  }
}
