.SettingsModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__Overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    background: white;
    box-shadow: 0 4px 10px #00000017;
    display: flex;
    flex-direction: column;
  }

  &__Header {
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #ecf2f5;

    &-Title {
      flex: 1;
      font-size: 20px;
    }

    img {
      cursor: pointer;
    }
  }

  &__Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;

    > label {
      margin-bottom: 10px;
    }

    > input {
      width: 300px;
      padding: 4px 8px;
      margin-bottom: 5px;
    }

    &-HelpText {
      font-size: 14px;
      color: #777f82;

      a {
        color: #298fee;
      }

      li {
        font-family: monospace;
      }
    }
  }

  &__Actions {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 20px 0;

    > .Button {
      margin-left: 10px;
    }
  }

  &__Backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: -1;
  }
}
