@import 'Header.dark.scss';

.Header {
  height: 100px;
  display: flex;
  flex-direction: column;

  > div:first-child {
    display: flex;
    align-items: center;
  }

  &__Tabs {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 20px;
      padding: 4px 0;
      color: #8f9496;
      cursor: pointer;
      text-shadow: 0 1px 0 white;

      &.active,
      &:hover {
        color: #333;
      }
    }
  }
}
