.Header {
  height: 100px;
  display: flex;
  flex-direction: column;

  > div:first-child {
    display: flex;
    align-items: center;
  }

  &__Title {
    font-size: 36px;

    > i {
      margin-right: 10px;
    }

    @media screen and (max-width: 600px) {
      span {
        display: none;
      }
    }
  }

  &__Tabs {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    a {
      margin-left: 20px;
      padding: 4px 0;
      color: #63686b;

      &.active,
      &:hover {
        color: #333;
        border-bottom: 3px solid #61aeec;
      }
    }
  }
}
