.dark {
  .Header {
    &__Title {
      text-shadow: none;
    }

    &__Tabs a {
      color: #c1c3c5;
      text-shadow: none;

      &.active,
      &:hover {
        color: #f1f2f3;
      }
    }
  }
}
