.Discover {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__Actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;

    > div {
      margin-left: 20px;
    }
  }

  &__ReposList {
    flex: 1;
    display: flex;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    @media screen and (min-width: 769px) {
      flex-wrap: wrap;
    }
  }
}
