@import 'FilterPredicate.dark.scss';

$radius: 4px;

.FilterPredicate {
  display: flex;
  border-radius: 4px;
  margin-bottom: 12px;
  font-size: 14px;
  height: 30px;

  &__Label,
  &__Value {
    padding: 4px 10px;
  }

  &__Label {
    display: flex;
    align-items: center;
    background: #494b4e;
    color: white;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &__Symbol {
    align-self: stretch;
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;

    &--negative {
      color: #be5b5b;
    }
  }

  &__Value {
    display: flex;
    margin-right: 15px;
    background: #e4e4e4;
    color: #484848;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;

    > input {
      min-width: 250px;
    }

    > input,
    > select {
      font-size: 14px;
      color: #484848;
      background: none;
      border: 0;
      outline: 0;
    }
  }

  &__Actions {
    display: flex;
    align-items: center;

    > i {
      margin-right: 10px;
      font-size: 14px;
      color: #858585;
      cursor: pointer;
      user-select: none;

      &:hover {
        color: black;
      }
    }
  }
}
