.FilterPredicate--dark {
  .FilterPredicate__Label {
    background: config('colors.grey-darker');
    color: white;
  }

  .FilterPredicate__Value {
    background: none;
    border: 1px solid config('colors.grey-darker');
    border-left: none;

    > input,
    > select {
      color: white;
    }
  }

  .FilterPredicate__Actions > i:hover {
    color: white;
  }
}
