@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,500');

html {
  line-height: 1.15;
}

body {
  @apply text-gray-900 font-open;
  @apply m-0 min-h-screen;
  @apply bg-gray-100;
  font-size: 100%;

  &.dark {
    @apply bg-gray-900 text-white;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-roboto;
}

a,
a:hover,
a:active,
a:visited {
  @apply no-underline;
}

#container {
  @apply min-h-full mx-auto;
  @apply px-8;
  max-width: 1180px;

  .App {
    @apply min-h-full flex flex-col;
  }
}

.rtl {
  direction: rtl;
}
